:root {
  --link-color: #3e3232;
  --btn-bg-color: #f5f5f5;
  --btn-dark-bg-color: rgba(62, 50, 50, 0.05);
  --btn-bg-color-hover: rgba(0, 0, 0, 0.1);
  --btn-color: rgba(62, 50, 50, 0.75);
  --bg-color-grey: #f5f5f5;
  --bg-color-white: #fff;
  --bg-color-white-75: rgba(255, 255, 255, 0.75);
  --after-color: #cfcccc;
  --light-text-color: #fff;
  --black-text-color: #000;
  --dark-text-color: #3e3232;
  --dark-text-tansparent-color: rgba(62, 50, 50, 0.5);
  --black-75-text-color: rgba(0, 0, 0, 0.75);
  --dark-75-text-color: rgba(62, 50, 50, 0.75);
  --dark-25-text-color: rgba(62, 50, 50, 0.25);
  --post-title-color: #3e3232;
  --saved-color: #3e3232;
  --saved-tansparent-color: rgba(62, 50, 50, 0.5);
  --saved-navbar-color: rgba(62, 50, 50, 1);
  --info-text-color: rgba(62, 50, 50, 0.75);
  --play-icon-color: #f81539;
  --footer-paragraph-color: rgba(62, 50, 50, 0.75);
  --copyright-bg-color: rgba(62, 50, 50, 0.05);
  --copyright-color: rgba(62, 50, 50, 0.75);
  --icon-dark-color: rgba(62, 50, 50, 0.05);
  --icon-bg-gray-color: rgba(0, 0, 0, 0.05);
  --btn-pink-bg-color: rgba(248, 21, 57, 0.75);
  --btn-pink-bg-hover-color: rgba(248, 21, 59, 0.414);
  --textare-color: rgba(62, 50, 50, 0.75);
  --emoji-bg-color: #26de81;
  --emoji-pink-color: #fc5c65;
  --emoji-orange-color: #fa8231;
  --emoji-yellow-color: #f7b731;
  --emoji-blue-color: #45aaf2;
  --emoji-green-color: #26de81;
  --active-text-color: #f81539;
}
